<IfModule mod_rewrite.c>
    RewriteEngine On
    # Route everything except /content/* and favicon.ico to index.php
    RewriteCond %{REQUEST_URI} !^/content/.*$
    RewriteCond %{REQUEST_URI} !^/favicon\.ico$
    RewriteRule ^ index.php
    php_value post_max_size 50M
    php_value upload_max_filesize 50M
</IfModule>
